<%# Content Heading block %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>

<%# Detail for inventory item %>
<%- detail %>

<!-- Reviews section -->
<h2>Reviews</h2>
<%- reviews %>